name: Auto-Tag Release

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write
  pull-requests: read

jobs:
  create-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pivvenit/workflow-actions/auto-tag@v3
