name: Auto-Tag Release

on:
  push:
    branches:
      - main
      - master

jobs:
  create-tag:
    uses: pivvenit/workflow-actions/.github/workflows/auto-tag.yml@v1
    permissions:
      contents: write
      pull-requests: read
