name: Auto-Tag Release

on:
  push:
    branches:
      - main
      - master

permissions:
  contents: write
  pull-requests: read

jobs:
  create-tag:
    uses: pivvenit/workflow-actions/.github/workflows/auto-tag.yml@v1
    secrets: inherit
