name: Dependabot Auto-Merge

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  check_suite:
    types: [completed]

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: pivvenit/workflow-actions
          ref: v3
          token: ${{ secrets.WORKFLOW_COMPOSITE_ACTIONS_PAT }}
          path: .github/workflow-actions
      - uses: ./.github/workflow-actions/dependabot-auto-merge
        with:
          skip-label: 'skip-auto-merge'
          merge-method: 'squash'
