name: Dependabot Auto-Merge

on:
  pull_request_target:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  check_suite:
    types: [completed]

permissions:
  pull-requests: write
  contents: write

jobs:
  auto-merge:
    uses: pivvenit/workflow-actions/.github/workflows/dependabot-auto-merge.yml@v1.0.0
    with:
      skip-label: 'skip-auto-merge'
      merge-method: 'squash'
    secrets: inherit
