name: Test Auto-Tag (manual)

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: read

jobs:
  test-create-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pivvenit/workflow-actions/auto-tag@v3
